<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jemo Portfolio</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="timeline">
        <!-- <img src="/images/bg.jpg" alt="Timeline"> -->
    </div>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Bournz"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                        <a href="/about">About Me</a>
                    </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- <div class="main">
        <h1>Jerome Veldad</h1>
        <h4>Welcome on my site!!</h4>
    </div> -->
    <div class="content">
        <div class="cover">
            <h1>About Jemo</h1>
            Hello, my name is <strong>Jerome Veldad</strong>.
            <br>Web developer in a corporate company and specialize in <strong>Angular/NodeJS</strong>.
            <br>I start web development job since 2013.
            <br><br><h2>Projects</h2>
            <ul>
                <li><strong>Peekawoo</strong>(<i>Speed Dating Site</i>)</li>
                <li><strong>TruepropertyPH</strong>(<i>Listing Portal Site</i>)</li>
                <li><strong>338a Togel</strong>(<i>Lottery Betting Site</i>)</li>
                <li><strong>SBO Draw</strong>(<i>Lottery Betting Site</i>)</li>
                <li><strong>My Reservation 2.0</strong>(<i>Disney Cruise Line Reservation Site</i>)</li>
            </ul>
            <br>I love to code and wants to have a challenging project.
            <br>
            Feel free to reach me at <a href="mailto:jemo.veldad@hotmail.com">jemo.veldad@hotmail.com</a>
        </div>
    </div>
    <footer></footer>
</body>
</html>
