<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jemo Portfolio</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="timeline">
        <!-- <img src="/images/bg.jpg" alt="Timeline"> -->
    </div>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Bournz"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                        <a href="/about">About Me</a>
                    </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- <div class="main">
        <h1>Jerome Veldad</h1>
        <h4>Welcome on my site!!</h4>
    </div> -->
    <div class="content">
        <div class="cover">
            <h2>Skills Set</h2>
            <strong>ReactJS</strong><br>
            <strong>Angular 1.X</strong><br>
            <strong>Angular 6</strong><br>
            <strong>NodeJS</strong><br>
            <strong>Bootstrap</strong><br>
            <strong>JQuery</strong><br>
            <strong>SASS</strong><br>
            <strong>MongoDB</strong><br>
            <strong>SocketIO</strong><br>
            <strong>Redis</strong><br>
            <strong>CreateJS</strong><br>

            <p>Sorry for bad UI, development of this portfolio is still on-going.</p>
        </div>
    </div>
    <footer></footer>
</body>
</html>
