// color
$red: #aa0505;
$green: #096609;
$blue: #2e2eb1;
$gray: #b9b2b2;
$gray-dark: #857e7e;
$gray-darker: #5f5959;
$white: #fff;
$orange: #e6a328;
$yellow: #dbdb2f;
$violet: #c734c7;
$fb: #4868ad; // facebook
$fb-dark: #3c568e;
$li: #0077b5; // linkedin
$li-dark: #026294;
$gh: #4f4f4f; // github
$gh-dark: #3c3b3b;
$em: #9e9e9e; // email
$em-dark: #868484;

// font size
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-mega-size: 20px;
$font-size-ultra-size: 25px;

$small_mobile: 480px;
